/* MENU DROPDOWN */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

nav {
    font-size:22px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    word-wrap:break-word !important;
    font-family: 'Roboto';

    background-color: #60401f;
}

nav a {
    color: #FFF;
}

.toggle,
[id^=drop] {
    display: none;
}

/* Since we'll have the "ul li" "float:left"
* we need to add a clear after the container. */

nav:after {
    content:"";
    display:table;
    clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
* and adding "position:reltive" */
nav ul {
    float: right;
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}

/* Positioning the navigation items inline */
nav ul li {
    margin: 0px;
    display:inline-block;
    float: left;
    background-color: #60401f;
}

/* Styling the links */
nav a {
    display:block;
    padding:14px 20px;  
    color:#FFF;
    font-size:17px;
    text-decoration:none;
}

nav ul li ul li:hover { background: #3a2613; }

/* Background color change on Hover */
nav a:hover { 
    background-color: #3a2613; 
}

/* Hide Dropdowns by Default
* and giving it a position of absolute */
nav ul ul {
    display: none;
    position: absolute; 
    /* has to be the same number as the "line-height" of "nav a" */
    top: 60px; 
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
    display:inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
    width:170px;
    float:none;
    display:list-item;
    position: relative;
}

/* Second, Third and more Tiers 
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
 */
 nav ul ul ul li {
    position: relative;
    top:-60px;
    /* has to be the same number as the "width" of "nav ul ul li" */ 
    left:170px; 
}

/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }

/* HEADER */

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto';
}

header .header {
    display: grid;
    width: auto;
    background: #9a6432;
    grid-template-rows: 25%;
}

header .titulo_pagina {
    display: grid;
    justify-items: center;
}

header .titulo_pagina h1 {
    align-self: center;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    font-weight: 900;
    color: #ffffff;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
    width: 90vw;
}

header .titulo_pagina h3 {
    letter-spacing: .2rem;
    color: #fff;
    margin-top: 0px;
    text-align: center;
    width: 60vw;
}

.secao {
    font-family: 'Segoe UI', Roboto, sans-serif;
    display: grid;
    justify-self: center;
    justify-items: center;
}

.secao .titulo {
    display: grid;
    color: #111A21;
    align-self: center;
    width: 100%;
}

.secao .titulo h1 {
    font-family: 'Roboto';
    font-weight: bolder;
    text-align: center;
}

.rodape {
    height: 250px;
    background: #9a6432;
}

a h1, h2 {
    font-family: 'Segoe UI', Roboto, sans-serif;
    text-decoration: none;
}

a:link, a:visited {
    text-decoration: none;
}

a h1:active {
    text-decoration: none
}

/* PÃGINA INICIAL */

body {
    background: #EEE8AA;
}

.secao .form {
    width: 100%;
    display: grid;
    justify-items: center;
    border-bottom: 10vh;
}

.secao .titulo_campo {
    font-weight: 500;
    margin-bottom: 1vh;
}

.secao .campo_envio {
    background-color: #F2F2F2;
    margin-bottom: 3vh;
    border: 1px solid;
    border-color: #e6dd7f;
}

.secao .div_button {
    display: grid;
    justify-items: center;
    width: 100%;
    margin-top: 14px;
}

.secao .div_button #send_button {
    cursor: pointer;
    width: 70vw;
    border: none;
    background-color: #60401f;
    color: white;
}

.secao .div_button #send_button:hover {
    background-color: #3a2613;
}


.slider {
    margin-top: 39px;
}

input[type=text], input[type=file] {
    padding: 10px 15px;
    margin: 5px 0;
    box-sizing: border-box;
}

.secao .inputfile-box {
    background-color: #F2F2F2;
    margin-bottom: 3vh;
    margin-top: 10px;
    position: relative;
    border: 1px solid;
    border-color: #e2d86a;
}

.inputfile {
  display: none;
}

.file-box {
  display: inline-block;
  background-color: #F2F2F2;
}

.file-button {
  background: #60401f;
  padding: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  color: #ffffff;
}

.file-button:hover {
    background-color: #3a2613;
}

/* FOOTER */

footer .rodape {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #9a6432;
    color: #FFFFFF;
}

footer .rodape .col {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

footer .rodape #titulo {
    font-family: 'Segoe UI';
    font-weight: bold;
    padding-bottom: 1%;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
}

footer .rodape #text {
}

footer .social-media {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

@media screen and ( max-width: 1500px ){
    nav {
        line-height: 25px;
    }

    header .header {
        height: 250px;
    }
    
    .titulo_pagina h1 {
        margin-top: 70px;
        font-size: 45px;
    }
    
    .titulo_pagina h3 {
        font-size: 22px;
    }

    .secao .titulo {
        font-size: 17px;
        margin-bottom: 60px;
        margin-top: 60px;
    }

    .slider {
        height: 480px;
    }

    .secao .form .titulo h1 {
        font-size: 40px;
    }

    .secao .titulo_campo {
        font-size: 22px;
    }

    .secao .campo_envio {
        font-size: 20px;
    }

    .secao .div_button #send_button {
        height: 63px;
        font-size: 22px;
        margin-bottom: 14vh;
    }

    .secao .campo_envio, .file-box, .inputfile-box {
        width: 70vw;
        height: 63px;
    }

    .file-button {
        height: 24px;
    }

    .secao .inputfile-box {
        font-size: 20px;
    }

    .titulo-blog {
        font-size: 15px;
    }

    footer .rodape {
        height: 200px;
    }

    footer .rodape #titulo {
        font-size: 30px;
    }

    footer .rodape #text {
        font-size: 16px;
    }

    footer .social-media img {
        height: 30px;
        width: 30px;
        margin: 1vh;
    }
}

@media screen and ( max-width: 900px ){
    nav {
        line-height: 18px;
    }

    header .header {
        height: 200px;
    }
    
    .titulo_pagina h1 {
        margin-top: 40px;
        font-size: 40px;
    }

    .titulo_pagina h3 {
        font-size: 17px;
    }

    .slider {
        height: 450px;
    }

    .secao .titulo {
        font-size: 14px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .secao .titulo_campo {
        font-size: 15px;
    }

    .secao .campo_envio {
        font-size: 13px;
    }

    .secao .div_button #send_button {
        height: 45px;
        font-size: 16px;
        margin-bottom: 10vh;
    }

    .secao .campo_envio, .file-box, .inputfile-box {
        height: 45px;
    }

    .file-button {
        height: 6px;
    }

    .secao .inputfile-box {
        font-size: 14px;
    }

    footer .rodape {
        height: 170px;
    }

    footer .rodape #titulo {
        font-size: 25px;
    }

    footer .rodape #text {
        font-size: 14px;
    }

    footer .social-media img {
        height: 25px;
        width: 25px;
        margin: 0.5vh;
    }
}

@media screen and (max-width: 760px){
    .slider {
        height: 320px;
    }
}

@media screen and ( max-width: 550px ){
    header .header {
        height: 150px;
    }

    header .titulo_pagina h1 {
        margin-top: 20px;
        font-size: 35px;
    }

    header .titulo_pagina h3 {
        font-size: 15px;
    }

    .secao .titulo {
        font-size: 12px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 500px){
    .slider {
        height: 220px;
    }
}


@media all and (max-width : 400px) {
    nav {
        margin: 0;
    }

    nav ul {
        float: left;
        width: 100%;
    }

    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle + a,
    .menu {
        display: none;
    }

    /* Stylinf the toggle lable */
    .toggle {
        display: block;
        background-color: #3a2613;
        padding:14px 20px;  
        color:#FFF;
        font-size:17px;
        text-decoration:none;
        border:none;
    }

    .toggle:hover {
        background-color: #3a2613;
    }

    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop]:checked + ul {
        display: block;
    }

    /* Change menu item's width to 100% */
    nav ul li {
        display: block;
        width: 100%;
    }

    nav a {
        padding:10px 20px;
    }

    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }

    nav ul ul ul a {
        padding: 0 80px;
    }

    nav a:hover,
    nav ul ul ul a {
        background-color: #3a2613;
    }

    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a{
        padding:14px 20px;  
        color:#FFF;
        font-size:17px; 
    }


    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #212121; 
    }

    /* Hide Dropdowns by Default */
    nav ul ul {
        float: none;
        position:static;
        color: #ffffff;
        /* has to be the same number as the "line-height" of "nav a" */
    }

    /* Hide menus on hover */
    nav ul ul li:hover > ul,
    nav ul li:hover > ul {
        display: none;
    }

    /* Fisrt Tier Dropdown */
    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul ul li {
        position: static;
        /* has to be the same number as the "width" of "nav ul ul li" */ 
    }

}

@media all and (max-width : 330px) {
    nav ul li {
        display:block;
        width: 100%;
    }

}