/* MENU DROPDOWN */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

nav {
    font-size:22px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    word-wrap:break-word !important;
    font-family: 'Roboto';

    background-color: #60401f;
}

nav a {
    color: #FFF;
}

.toggle,
[id^=drop] {
    display: none;
}

/* Since we'll have the "ul li" "float:left"
* we need to add a clear after the container. */

nav:after {
    content:"";
    display:table;
    clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
* and adding "position:reltive" */
nav ul {
    float: right;
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}

/* Positioning the navigation items inline */
nav ul li {
    margin: 0px;
    display:inline-block;
    float: left;
    background-color: #60401f;
}

/* Styling the links */
nav a {
    display:block;
    padding:14px 20px;  
    color:#FFF;
    font-size:17px;
    text-decoration:none;
}

nav ul li ul li:hover { background: #3a2613; }

/* Background color change on Hover */
nav a:hover { 
    background-color: #3a2613; 
}

/* Hide Dropdowns by Default
* and giving it a position of absolute */
nav ul ul {
    display: none;
    position: absolute; 
    /* has to be the same number as the "line-height" of "nav a" */
    top: 60px; 
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
    display:inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
    width:170px;
    float:none;
    display:list-item;
    position: relative;
}

/* Second, Third and more Tiers 
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
 */
 nav ul ul ul li {
    position: relative;
    top:-60px;
    /* has to be the same number as the "width" of "nav ul ul li" */ 
    left:170px; 
}

/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }

/* HEADER */

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto';
}

header .header {
    display: grid;
    width: auto;
    background: #9a6432;
    grid-template-rows: 25%;
}

header .titulo_site {
    display: grid;
    justify-items: center;
}

header .titulo_site h1 {
    align-self: center;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    font-weight: 900;
    color: #ffffff;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
    width: 90vw;
}

header .titulo_site h3 {
    letter-spacing: .2rem;
    color: #fff;
    margin-top: 0px;
    text-align: center;
    width: 60vw;
}

.secao {
    font-family: 'Segoe UI', Roboto, sans-serif;
    display: grid;
    justify-self: center;
    justify-items: center;
    background: #EEE8AA;
}

.secao .titulo {
    display: grid;
    color: #111A21;
    align-self: center;
    width: 74%;
}

.secao .titulo h1 {
    font-family: 'Roboto';
    font-weight: bolder;
    text-align: center;
}

.rodape {
    height: 250px;
    background: #9a6432;
}

a h1, h2 {
    font-family: 'Segoe UI', Roboto, sans-serif;
    text-decoration: none;
}

a:link, a:visited {
    text-decoration: none;
}

a h1:active {
    text-decoration: none
}

/* GALERIA */

.secao {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    justify-self: center;
    justify-items: center;
    background: #EEE8AA;
}

.secao #lista {
    display: grid;
    justify-items: center;
    width: 90vw;
    height: auto;
}

.item {
    width: 230px;
    height: 230px;
    overflow: hidden;
}

.item img, .item frame {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.item:hover img, .item:hover iframe {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 80%;
}

.lightbox {
    /** Default lightbox to hidden */
    display: none;
    /** Position and style */
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    overflow-y: auto;
}

.lightbox:target {
    /** Remove default browser outline */
    /** Unhide lightbox **/
    display: block;
}

a h1, h3 {
    font-family: 'Segoe UI', Roboto, sans-serif;
    text-decoration: none;
    color: #ffffff;
}

.conteudo_lb {
    display: grid;
    justify-self: center;
    justify-items: center;
    width: 100vw;
}

.conteudo_lb img {
    width: 45vh;
    height: auto;  
}

.conteudo_lb h1 {
    width: 80vw;
}

.conteudo_lb h3 {
    width: 70vw;
}

/* FOOTER */

footer .rodape {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #9a6432;
    color: #FFFFFF;
}

footer .rodape .col {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

footer .rodape #titulo {
    font-family: 'Segoe UI';
    font-weight: bold;
    padding-bottom: 1%;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
}

footer .rodape #text {
}

footer .social-media {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

@media screen and ( max-width: 1500px ){
    header .header {
        height: 250px;
    }
    
    .titulo_site h1 {
        margin-top: 70px;
        font-size: 45px;
    }

    
    .titulo_site h3 {
        font-size: 22px;
    }

    .secao .titulo {
        font-size: 17px;
        margin-bottom: 60px;
        margin-top: 60px;
    }

    .item {
        margin-bottom: 40px;
    }

    .item img, .item iframe {
        width: 231px;
        height: 231px;
    }

    .secao #lista {
        grid-template-columns: repeat(3, 1fr);
    }

    .conteudo_lb {
        margin-top: 20vh;
    }
    

    .conteudo_lb h1 {
        font-size: 24px;
        margin-bottom: 3vh;
        margin-top: 5vh;
    }

    .conteudo_lb h3 {
        font-size: 17px;
        margin-bottom: 3vh;
        width: 50vw;
    }

    footer .rodape {
        height: 200px;
    }

    footer .rodape #titulo {
        font-size: 30px;
    }

    footer .rodape #text {
        font-size: 20px;
    }

    footer .social-media img {
        height: 30px;
        width: 30px;
        margin: 1vh;
    }
}

@media screen and ( max-width: 900px ){
    header .header {
        height: 200px;
    }
    
    .titulo_site h1 {
        margin-top: 40px;
        font-size: 40px;
    }

    .titulo_site h3 {
        font-size: 17px;
    }

    .secao .titulo {
        font-size: 14px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .conteudo_lb {
        margin-top: 17vh;
    }

    .conteudo_lb h1 {
        font-size: 20px;
        margin-bottom: 3vh;
        margin-top: 5vh;
    }

    .conteudo_lb h3 {
        font-size: 15px;
        margin-bottom: 3vh;
    }

    footer .rodape {
        height: 170px;
    }

    footer .rodape #titulo {
        font-size: 25px;
    }

    footer .rodape #text {
        font-size: 15px;
    }

    footer .social-media img {
        height: 25px;
        width: 25px;
        margin: 0.5vh;
    }
}

@media screen and (max-width: 800px) {
    .secao #lista {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and ( max-width: 550px ){
    header .header {
        height: 150px;
    }

    header .titulo_site h1 {
        margin-top: 20px;
        font-size: 35px;
    }

    header .titulo_site h3 {
        font-size: 15px;
    }

    .item img, .item iframe {
        width: 250px;
        height: 250px;
    }

    .secao #lista {
        grid-template-columns: repeat(1, 1fr);
    }

    .secao .titulo {
        font-size: 12px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .conteudo_lb {
        margin-top: 13vh;
    }
}

@media all and (max-width : 400px) {
    nav {
        margin: 0;
    }

    nav ul {
        float: left;
        width: 100%;
    }

    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle + a,
    .menu {
        display: none;
    }

    /* Stylinf the toggle lable */
    .toggle {
        display: block;
        background-color: #3a2613;
        padding:14px 20px;  
        color:#FFF;
        font-size:17px;
        text-decoration:none;
        border:none;
    }

    .toggle:hover {
        background-color: #3a2613;
    }

    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop]:checked + ul {
        display: block;
    }

    /* Change menu item's width to 100% */
    nav ul li {
        display: block;
        width: 100%;
    }

    nav a {
        padding:10px 20px;
    }

    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }

    nav ul ul ul a {
        padding: 0 80px;
    }

    nav a:hover,
    nav ul ul ul a {
        background-color: #3a2613;
    }

    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a{
        padding:14px 20px;  
        color:#FFF;
        font-size:17px; 
    }


    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #212121; 
    }

    /* Hide Dropdowns by Default */
    nav ul ul {
        float: none;
        position:static;
        color: #ffffff;
        /* has to be the same number as the "line-height" of "nav a" */
    }

    /* Hide menus on hover */
    nav ul ul li:hover > ul,
    nav ul li:hover > ul {
        display: none;
    }

    /* Fisrt Tier Dropdown */
    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul ul li {
        position: static;
        /* has to be the same number as the "width" of "nav ul ul li" */ 
    }

}

@media all and (max-width : 330px) {
    nav ul li {
        display:block;
        width: 100%;
    }

}